<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxSwift+MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RxSwift+MVVMUITests copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3811AC7A1E7635D000A0C3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3811AC8E1E7635D000A0C3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3811AC991E7635D100A0C3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3811ACAC1E7635EB00A0C3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
